// Avoid !important here since everything will be inlined
* {
  font-family: Arial, sans-serif;
}
$ras-blue: #3388CA;
$pink: #D2507F;
$green: #82BF37;
$navy: #3D505A;
$off-white: #f0f0f0;

body {
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:none;
	width:100%;
	height:100%;
  background-color:#E4E4E4;
}

.wrapper {
  background-color:#FFFFFF;
}

.content {
  background-color:#FFFFFF;
}

.d-block{
  display: block;
}

.text-center{
  text-align: center;
}
h1, h2, h3, h4, h5, h6, p{
  margin-bottom: 0;
  color: $navy;
}
h1{
  font-size: 1.3rem;
  
}
.thank-you-title{
  font-size: 1.8rem;
  color: $navy;
}
.blog-title{
  font-size: 1.1rem;
  padding: 10px;
  color: $white;
}
.img-fluid{
  display: block;
  max-width: 100%;
  height: auto;
}
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.heading{
  background: $light-gray;
}
th.columns{padding-bottom: 0;}

.border{
  border: 1px solid $white;
}
.bg{
  &-blue{
  background: $ras-blue!important;
  }
  &-grey{
  background: $dark-gray !important;
  }
  &-off-white{
    background: $off-white !important;
  }
  &-rectangle-blue{
    background: lighten($ras-blue, 5%)!important;
  }
}
.btn{
  &-green {
    td{
      background: $green !important;
      border-color: $green !important;
      a{
        background: $green !important;
        border-radius: 0;
        border-color: $green !important;
      }
    }
  }
  &-white {
    td{
      background: $white !important;
      border-color: $white !important;
      a{
        background: $white !important;
        border-radius: 0;
        border-color: $white !important;
        color: $navy !important;
      }
    }
  }
}
.social-icon{
  color: $dark-gray;
  background: $white!important;
  border-radius: 50%;
  padding: 5px;
}

.text{
  &-white{
  color: $white;
  }
  &-pink{
    color: $pink;
  }
  &-navy{
    color: $navy;
  } 
  &-uppercase{
  text-transform: uppercase;
  }
  &-bold{
    font-weight: bold;
  }
  &-1rem{
    font-size: 1rem;
  }
  &-1-25rem{
    font-size: 1.25rem;
  }
  &-1-5rem{
    font-size: 1.5rem;
  }
  &-1-75rem{
    font-size: 1.75rem;
  }
  &-2rem{
    font-size: 2rem;
  }
}

.p{
  &-5{
    padding: 5px;
  }
  &-10{
    padding: 10px;
  }
}
.w-100{
  width: 100% !important;
}
.mw{
  &-300{
    max-width: 300px;
    margin: auto;
  }
  &-400{
    max-width: 400px;
    margin: auto;
  }
  &-500 {
    max-width: 500px;
    margin: auto;
  }
}
// Make everything here important, or else it won't override your inlined styles
@media only screen and (max-width: #{$global-breakpoint}) {
  p {
    margin:0 auto !important;
    text-align:center !important;
  }
}

